@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Josefin+Sans&family=Lexend+Deca&family=Poppins&family=Roboto+Slab:wght@500&display=swap");

textarea {
  height: 10vh;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgb(247, 247, 241);
  font-size: large;
  font-weight: bolder;
}

#container {
  padding: 1rem;
}

img {
 
  margin-left: 4%;
  align-items: center;
  max-width: 100%;
  height: auto;
}

#output {
  border: 1px solid black;
  height: 10vh;
  color: white;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(187, 7, 67);
}

body {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  background-color: rgb(3, 3, 3);
  color: white;
  font-family: "Bebas Neue", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Slab", serif;
}

h1 {
  text-align: center;
}
button {
  font-weight: bold;
  color: black;
  margin: 0 auto;
  padding: 1rem;
  font-size: large;
  display: block;
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;

  padding: 1rem;

  text-align: center;
  display: block;
}

#container {
  text-align: center;
}

#btn-translate,
#btn-reset {
  display: inline-block;
}
